doctype html
html
  head
    title Inquirições de Génere
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
    script(src='/javascripts/jquery-3.7.1.min.js')
    script(src='/javascripts/jquery.modal.min.js')
    link(rel='stylesheet', href='/stylesheets/jquery.modal.min.css')
  body
    block content
