extends includes/layout 

block content 
    .w3-card-4
        header.w3-container.w3-light-blue
            h1 #[b Inquirição de Génere - Trabalho Prático de EngWeb2024]
            .w3-cell-row.w3-light-blue
                .w3-cell
                    if user != null
                        h2 Bem-Vindo #{user.username}!
                    else 
                        h2 Bem-Vindo!
                .w3-cell.w3-border-black.w3-border-top.w3-border-left(style="width:16% white-space: nowrap; max-width: 50px; overflow: hidden;") 
                    if user != null
                        h3 &nbsp;#[b Nível de Acesso:]  #{user.level}
                    else
                        h3 &nbsp;#[b Nível de Acesso:]  Não autenticado
    .w3-container
        .w3-cell(style="width:5%;")
            i.fa.fa-angle-right(style="color: #000000;")
        .w3-cell(style="width:95%;")
            h3 &nbsp;&nbsp;&nbsp;Escolha uma opção:
        ul.w3-ul.w3-card-4
            li.w3-bar
                span
                    .w3-bar-item
                        .w3-bar-item
                            a(href="/inquiries") 
                                span
                                    .w3-container.w3-cell(style="width:10%; height: 80%; font-size: 24px;")
                                        i.fa.fa-folder-open(style="color: #000000;")
                                    .w3-container.w3-cell(style="width:90%; height: 80%")
                                        .w3-large #[b Lista de Inquirições de Génere]
                                            h6 Aceder e editar vários registos, assim como as publicações a eles referentes
            if user.level == "Administrador"
                li.w3-bar
                    span
                        .w3-bar-item
                            .w3-bar-item
                                a(href="/users") 
                                    span
                                        .w3-container.w3-cell(style="width:10%; height: 80%; font-size: 24px;")
                                            i.fa.fa-user-cog(style="color: #000000;")
                                        .w3-container.w3-cell(style="width:90%; height: 80%")
                                            .w3-large #[b Gestão de Contas]
                                                h6 Editar e/ou remover contas de utilizadores
            if user.is_logged
                li.w3-bar
                    span
                        .w3-bar-item
                            .w3-bar-item
                                a(href="/auth/logout") 
                                    span
                                        .w3-container.w3-cell(style="width:10%; height: 80%; font-size: 24px;")
                                            i.fa.fa-sign-out-alt(style="color: #000000;")
                                        .w3-container.w3-cell(style="width:90%; height: 80%")
                                            .w3-large #[b Sair]
                                                h6 Terminar sessão
            else
                li.w3-bar
                    span
                        .w3-bar-item
                            .w3-bar-item
                                a(href="/auth/login") 
                                    span
                                        .w3-container.w3-cell(style="width:10%; height: 80%; font-size: 24px;")
                                            i.fa.fa-sign-in-alt(style="color: #000000;")
                                        .w3-container.w3-cell(style="width:90%; height: 80%")
                                            .w3-large #[b Entrar]
                                                h6 Iniciar sessão
                li.w3-bar
                    span
                        .w3-bar-item
                            .w3-bar-item
                                a(href="/auth/register") 
                                    span
                                        .w3-container.w3-cell(style="width:10%; height: 80%; font-size: 24px;")
                                            i.fa.fa-user-plus(style="color: #000000;")
                                        .w3-container.w3-cell(style="width:90%; height: 80%")
                                            .w3-large #[b Registar Utilizador]
                                                h6 Criar nova conta de utilizador