footer.w3-container.w3-light-blue.w3-center
    h5 André Pimentel Filipe, David da Silva Teixeira, João Manuel Novais da Silva e João Henrique Costa Ferreira | Engenharia Web 2024 - Universidade do Minho
    h5 Gerado por EngWeb2024 in #{date}