footer.w3-container.w3-light-blue.w3-center
    h5 André Filipe, David Teixeira, João Novais da Silva e João Ferreira | Engenharia Web 2024 - Universidade do Minho
    h5 Engenharia Web 2024 in #{date}