header.w3-container.w3-light-blue
    h1 #[b Inquirição de Génere - Trabalho Prático de EngWeb2024]
    .w3-cell-row.w3-light-blue
        .w3-cell
            if userName != null
                h2 Bem-Vindo #{userName}!
            else 
                h2 Bem-Vindo!
        .w3-cell.w3-border-black.w3-border-top.w3-border-left(style="width:16% white-space: nowrap; max-width: 50px; overflow: hidden;") 
            if level != null
                h3 &nbsp;#[b Nível de Acesso:] #{level}
            else
                h3 &nbsp;#[b Nível de Acesso:] Não autenticado