doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Inquirições de Génere
        link(rel='stylesheet', href='/css/w3.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
        script(src='/js/jquery-3.7.1.min.js')
        script(src='/js/jquery.modal.min.js')
        link(rel='stylesheet', href='/css/jquery.modal.min.css')
        script(src='/js/filters.js')
    body
        include header.pug

        block content

        include footer.pug